<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["PlexRequestsHosted.styles.css"]" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <MudThemeProvider Theme="@_theme" IsDarkMode="true" />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <Routes @rendermode="InteractiveServer" />
    </CascadingAuthenticationState>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@using MudBlazor

@code {
    private MudTheme _theme = new()
    {
        PaletteDark = new PaletteDark()
        {
            Primary = "#E50914",
            Secondary = "#564d4d",
            Background = "#141414",
            Surface = "#181818",
            AppbarBackground = "rgba(20, 20, 20, 0)",
            AppbarText = "#FFFFFF",
            TextPrimary = "#FFFFFF",
            TextSecondary = "#B3B3B3",
            ActionDefault = "#B3B3B3",
            ActionDisabled = "#4B4B4B",
            Divider = "#404040",
            DividerLight = "#2A2A2A"
        },
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif" }
            }
        }
    };
}
